name: Backup Database Harian

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  backup:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Install PostgreSQL Client
        run: |
          sudo apt-get update
          sudo apt-get install -y postgresql-client

      - name: Backup Database
        env:
          SUPABASE_DB_URL: ${{ secrets.SUPABASE_DB_URL }}
        run: |
          pg_dump "$SUPABASE_DB_URL" --format=c > backup.dump

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: supabase-backup
          path: backup.dump
          retention-days: 30